# Ignore only models folder at the root
/models/

# Allow models folder inside lab1
!lab1/models/
!lab1/models/**

# Other ignores
.venv/
__pycache__/
*.pyc
.pytest_cache/
coverage/
mlruns/
data/
plots/
results/
